<template>
  <div :class="[$style.container]">
    <slot :theme="theme" />
  </div>
</template>

<script>
export default {
  name: "Layout",

  props: {
    theme: {
      type: String,
      required: true
    }
  },
  watch: {
    theme: function() {
      let htmlElement = document.documentElement;
      if (this.theme === "light") {
        htmlElement.setAttribute("theme", "light");
      } else {
        htmlElement.setAttribute("theme", "dark");
      }
    }
  }
};
</script>

<style module lang="scss">
:root {
  --bg: url("../../assets/dark/BGP.png");
}

[theme="light"] {
  --bg: url("../../assets/light/BGP.png");
}

[theme="dark"] {
  --bg: url("../../assets/dark/BGP.png");
}

.container {
  width: 100%;
  height: 100%;
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-family: "Bahnschrift";
  line-height: 1.2;
}
</style>
