<template>
  <div :class="[$style.header__container]">
    <ImageHeader />
    <img
      :class="[$style.borderContainer__left]"
      :src="getImgPath('borderLeftP')"
      alt="borderLeft"
    />
    <img
      :class="[$style.borderContainer__right]"
      :src="getImgPath('borderRightP')"
      alt="borderRight"
    />
    <div :class="[$style.header__tabs_container]">
      <HeaderTab
        :theme="theme"
        v-for="(tab, index) in tabs"
        :tab="tab"
        :key="tab.id"
        :active="activeTab === index"
        @click.native="handleTabClick(tab.id)"
      >
        <p
          :class="{
            [[$style.text, $style.text_active].join(' ')]: activeTab === index,
            [$style.text]: activeTab !== index
          }"
        >
          {{ tab.name }}
        </p>
      </HeaderTab>
    </div>
  </div>
</template>

<script>
import HeaderTab from "@/components/header-tab/HeaderTab.vue";
import ImageHeader from "@/components/image-header/ImageHeader.vue";

export default {
  name: "Header",
  components: {
    HeaderTab,
    ImageHeader
  },
  props: {
    theme: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      tabs: [
        { id: 0, name: "PRZYGODA" },
        { id: 1, name: "POSTAĆ" },
        { id: 2, name: "EKWIPUNEK" }
      ],
      activeTab: 0
    };
  },
  methods: {
    handleTabClick(tab) {
      this.activeTab = tab;
    },
    getImgPath(image) {
      return require(`@/assets/${this.theme}/` + image + `.png`);
    }
  }
};
</script>

<style module lang="scss">
.header__container {
  width: 100%;
  height: 20%;
  min-height: 75px;
  display: flex;
  justify-content: space-between;

  .header__tabs_container {
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
  }
}
.text {
  margin-top: 5px;
}

.text_active {
  margin-top: 5px;
  z-index: 100;
}

.borderContainer__left {
  position: absolute;
  width: 65px;
  height: 90px;
  top: 0;
  left: 0;
}

.borderContainer__right {
  position: absolute;
  width: 3px;
  height: 90px;
  top: 0;
  right: 0;
}
</style>
