<template>
  <div :class="[$style.container]">
    <Layout :theme="this.theme">
      <Header :theme="this.theme" />

      <Slider :theme="this.theme" :side="'left'">
        <Menu :theme="this.theme" />
      </Slider>
      <Slider :theme="this.theme" :side="'right'" />
      <TextArea :theme="this.theme" />
      <ChoiceArea :theme="this.theme" />
    </Layout>
  </div>
</template>

<script>
import Slider from "@/components/slider/Slider.vue";
import ChoiceArea from "@/views/choice-area/ChoiceArea.vue";
import Header from "@/views/header/Header.vue";
import TextArea from "@/views/text-area/TextArea.vue";
import Menu from "@/views/menu/Menu.vue";
import Layout from "@/views/layout/Layout.vue";
export default {
  name: "GameView",
  components: {
    Slider,
    ChoiceArea,
    Header,
    TextArea,
    Layout,
    Menu
  },
  data() {
    return {
      theme: "dark"
    };
  },
  mounted() {
    let bodyElement = document.body;
    bodyElement.classList.add("app-background");

    let theme = localStorage.getItem("theme");
    if (theme === "light") {
      this.theme = "light";
    } else {
      this.theme = "dark";
    }
  },
  watch: {
    theme: function() {
      let htmlElement = document.documentElement;
      if (this.theme === "light") {
        htmlElement.setAttribute("theme", "light");
      } else {
        htmlElement.setAttribute("theme", "dark");
      }
    }
  }
};
</script>

<style module lang="scss">
:root {
  --font-color: rgb(143, 206, 255);
}

[theme="light"] {
  --font-color: rgb(13, 13, 13);
}

[theme="dark"] {
  --font-color: rgb(143, 206, 255);
}

.container {
  color: var(--font-color);
  width: 100%;
  height: 100%;
}
</style>
