<template>
  <div id="app" :class="[$style.app]">
    <router-view />
  </div>
</template>

<style module lang="scss">
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

body {
  min-width: 320px;
  max-width: 425px;
  max-height: 825px;
  min-height: 480px;
  margin: 0 auto !important;
}

.app {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-height: 826px) {
  .app {
    overflow: hidden;
    height: 825px;
  }
}

@media screen and (min-width: 426px) {
  .app {
    overflow: hidden;
    width: 425px;
  }
}
</style>
