<template>
  <div :class="[$style.container]">
    <img
      :class="[$style.portrait]"
      src="../../assets/portraitP.png"
      alt="portrait"
    />
  </div>
</template>

<script>
export default {
  name: "ImageHeader"
};
</script>

<style module lang="scss">
.container {
  width: 62px;
  height: 62px;
  margin-top: 3px;
}
.portrait {
  width: 100%;
  height: 100%;
}
</style>
