.sliderButton__container {
  top: 0;
  height: 140px;
  width: 18px;
  position: relative;

  .sliderButton {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
  }

  .sliderButton__left {
    top: 0;
    height: 100%;
    width: 100%;
  }

  .sliderButton_collapsed__left {
    clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
    height: 100%;
    width: 100%;
    animation: pulse 6s infinite;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.4);
      width: 20px;
      height: 100%;
      left: 60px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
      animation: shining 10s infinite;
      animation-delay: 10s;
    }
  }

  .sliderButton__right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .sliderButton_collapsed__right {
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
    height: 100%;
    width: 100%;
    animation: pulse 6s infinite;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.4);
      width: 20px;
      height: 100%;
      left: 60px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
      animation: shining 10s infinite;
      animation-delay: 10s;
    }
  }

  .arrow__left__collapsed {
    position: absolute;
    height: 20px;
    width: 12px;
    top: 50%;
    left: 1px;
    transform: translate(0px, -10px);
  }

  .arrow__left {
    position: absolute;
    height: 20px;
    width: 12px;
    top: 50%;
    left: 1px;
    transform: translate(0px, -10px) scaleX(-1);
  }


  .arrow__right__collapsed {
    position: absolute;
    height: 20px;
    width: 12px;
    top: 50%;
    left: 4px;
    transform: translate(0px, -10px) scaleX(-1);
  }

  .arrow__right {
    position: absolute;
    height: 20px;
    width: 12px;
    top: 50%;
    left: 4px;
    transform: translate(0px, -10px);
  }
}

@keyframes pulse {
  0% {
    background-color: transparent;
  }

  70% {
    background-color: rgba(22, 82, 104, 0.4);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes shining {
  0% {
    transform: translateX(-100px) skewX(-15deg);
    opacity: 0.2;
    transition: 0.3s;
  }

  10% {
    transform: translateX(-20px) skewX(-15deg);
    opacity: 0.5;
    transition: 0.3s;
  }

  100% {
    transform: translateX(-20px) skewX(-15deg);
    opacity: 0.5;
    transition: 0.3s;
  }
}