<template>
  <div :class="[$style.container]">
    <img
      v-if="active === true"
      :src="getImgPath('buttonActiveP')"
      alt="buttonActive"
      :class="[$style.active]"
    />

    <img
      v-if="active === false"
      :src="getImgPath('buttonNotActiveP')"
      alt="buttonNotActive"
      :class="[$style.notActive]"
    />
    <div v-if="active === false" :class="[$style.headerTab]" />
    <slot />
  </div>
</template>

<script>
export default {
  name: "HeaderTab",
  props: {
    tab: {
      type: Object,
      required: true
    },
    active: {
      type: Boolean,
      required: true
    },
    theme: {
      type: String,
      required: true
    }
  },
  methods: {
    getImgPath(image) {
      return require(`@/assets/${this.theme}/` + image + `.png`);
    }
  },
  watch: {
    theme: function() {
      let htmlElement = document.documentElement;
      if (this.theme === "light") {
        htmlElement.setAttribute("theme", "light");
      } else {
        htmlElement.setAttribute("theme", "dark");
      }
    }
  }
};
</script>

<style module lang="scss">
:root {
  --background-color: rgba(10, 29, 57, 0.4);
}

[theme="light"] {
  --background-color: rgba(150, 150, 150, 0.4);
}

[theme="dark"] {
  --background-color: rgba(10, 29, 57, 0.4);
}

.container {
  width: 80px;
  height: 25px;
  position: relative;
  margin: 0 2px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  z-index: 30;
}

.headerTab {
  position: absolute;
  clip-path: polygon(
    0 0,
    0 80%,
    5% 85%,
    30% 85%,
    35% 95%,
    65% 95%,
    70% 85%,
    95% 85%,
    100% 80%,
    100% 0
  );
  top: 0;
  height: 100%;
  width: 100%;
  animation: pulse 15s infinite;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    width: 20px;
    height: 100%;
    left: 60px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-85px) skewX(-15deg);
    animation: shining 10s infinite;
    animation-delay: 10s;
  }
}

.active,
.notActive {
  width: 100%;
  position: absolute;
}

.notActive + p {
  opacity: 0.4;
}

@keyframes pulse {
  0% {
    background-color: transparent;
  }

  70% {
    background-color: var(--background-color);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes shining {
  0% {
    transform: translateX(-85px) skewX(-15deg);
    opacity: 0.2;
    transition: 0.3s;
  }

  10% {
    transform: translateX(30px) skewX(-15deg);
    opacity: 0.5;
    transition: 0.3s;
  }

  100% {
    transform: translateX(30px) skewX(-15deg);
    opacity: 0.5;
    transition: 0.3s;
  }
}
</style>
