<template>
  <div>
    <ChoiceButton
      :theme="theme"
      v-for="button in dataButtons"
      :key="button"
      @click.native="handleButtonClick(button)"
    >
      {{ button }}
    </ChoiceButton>
  </div>
</template>

<script>
import ChoiceButton from "@/components/choice-button/ChoiceButton.vue";
export default {
  name: "Menu",
  components: {
    ChoiceButton
  },
  props: {
    theme: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      activeButton: 0,
      dataButtons: ["SAVE GAME", "LOAD GAME", "SETTINGS", "MAIN MENU", "EXIT"]
    };
  },
  methods: {
    handleButtonClick(name) {
      if (name === "SETTINGS") {
        this.$router.push("/options");
      }
    }
  }
};
</script>
