<template>
  <div :class="[$style.container]">
    <Layout :theme="this.theme">
      <div :class="[$style.wraper]">
        <div :class="[$style.buttons]">
          <ChoiceButton :theme="this.theme" @click.native="click">
            Change layout
          </ChoiceButton>
          <p :class="[$style.theme]">{{ theme }}</p>
        </div>
        <div :class="[$style.backButton]">
          <ChoiceButton :theme="this.theme">
            <router-link to="/" :class="[$style.router__link]"
              >Back</router-link
            >
          </ChoiceButton>
        </div>
      </div>
    </Layout>
  </div>
</template>

<script>
import Layout from "@/views/layout/Layout.vue";
import ChoiceButton from "@/components/choice-button/ChoiceButton.vue";

export default {
  name: "OptionsView",
  components: {
    Layout,
    ChoiceButton
  },
  data() {
    return {
      theme: "dark"
    };
  },
  methods: {
    click() {
      if (this.theme === "dark") {
        this.theme = "light";
      } else {
        this.theme = "dark";
      }
    }
  },
  mounted() {
    let bodyElement = document.body;
    bodyElement.classList.add("app-background");

    let theme = localStorage.getItem("theme");
    if (theme === "light") {
      this.theme = "light";
    } else {
      this.theme = "dark";
    }
  },
  watch: {
    theme: function() {
      let htmlElement = document.documentElement;
      if (this.theme === "light") {
        localStorage.setItem("theme", "light");
        htmlElement.setAttribute("theme", "light");
      } else {
        localStorage.setItem("theme", "dark");
        htmlElement.setAttribute("theme", "dark");
      }
    }
  }
};
</script>

<style module lang="scss">
:root {
  --font-color: rgb(143, 206, 255);
}

[theme="light"] {
  --font-color: rgb(13, 13, 13);
}

[theme="dark"] {
  --font-color: rgb(143, 206, 255);
}

.container {
  width: 100%;
  height: 100%;
}

.wraper {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.theme {
  color: var(--font-color);
  padding: 0 15px;
}

.backButton {
  width: 40%;
  height: 10%;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.router__link {
  color: var(--font-color);
  text-decoration: none;
}
</style>
