<template>
  <div :class="[$style.container]">
    <div :class="[$style.wrapper]" v-if="scrollAvailable === true">
      <img
        :class="[$style.track]"
        :src="getImgPath('scrollP')"
        alt="scrollbar"
        ref="scrollbarRef"
        @click="handleClick"
      />
      <img
        :class="[$style.thumb]"
        :src="getImgPath('scrollButtonP')"
        alt="scrollButton"
        :style="style"
        v-touch:start="handleTouchDown"
        v-touch:end="handleTouchUp"
        v-touch:moving="handleTouchMove"
      />
    </div>

    <div :class="[$style.scrollable]" ref="childRef" v-on:scroll="handleScroll">
      <slot />
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Vue2TouchEvents from "vue2-touch-events";

Vue.use(Vue2TouchEvents);

export default {
  name: "Scrollbar",
  data() {
    return {
      scrollAvailable: false,
      scrollPosition: 0
    };
  },
  props: {
    theme: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.scrollAvailable =
      this.$refs.childRef.scrollHeight - this.$refs.childRef.offsetHeight > 0
        ? true
        : false;
  },
  methods: {
    getImgPath(image) {
      return require(`@/assets/${this.theme}/` + image + `.png`);
    },
    handleScroll() {
      const childScrollOffsetHeight =
        this.$refs.childRef.scrollHeight - this.$refs.childRef.offsetHeight;
      const currentScrollY = this.$refs.childRef.scrollTop;
      const availableScrollHeight = this.$refs.scrollbarRef.scrollHeight - 50;

      const scrollPercent = parseFloat(
        ((currentScrollY * 100) / childScrollOffsetHeight).toFixed(2)
      );
      this.scrollPosition = (availableScrollHeight * scrollPercent) / 100;
    },
    handleClick(event) {
      this.handleThumbPosition(event.clientY);
    },
    handleThumbPosition(cursorPosition) {
      const childScrollOffsetHeight =
        this.$refs.childRef.scrollHeight - this.$refs.childRef.offsetHeight;
      const availableScrollHeight = this.$refs.scrollbarRef.scrollHeight;
      const elementOffset = parseInt(
        this.$refs.scrollbarRef.getBoundingClientRect().y.toFixed(0)
      );
      const calculateCursorPosition =
        cursorPosition > availableScrollHeight + elementOffset
          ? availableScrollHeight + elementOffset
          : cursorPosition < elementOffset
          ? elementOffset
          : cursorPosition;
      const calculateScrollPosition = calculateCursorPosition - elementOffset;
      const scrollPercent = parseFloat(
        ((calculateScrollPosition * 100) / availableScrollHeight).toFixed(2)
      );

      this.$refs.childRef.scroll({
        top: (childScrollOffsetHeight * scrollPercent) / 100,
        behavior: "auto"
      });
      this.scrollPosition =
        ((availableScrollHeight - 50) * scrollPercent) / 100;
    },
    handleTouchDown(event) {
      this.handleThumbPosition(event.touches[0].clientY);
    },
    handleTouchUp(event) {
      this.handleThumbPosition(event.changedTouches[0].clientY);
    },
    handleTouchMove(event) {
      this.handleThumbPosition(event.touches[0].clientY);
    }
  },
  computed: {
    style() {
      return "top:" + this.scrollPosition + "px";
    }
  }
};
</script>

<style module lang="scss">
.container {
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  padding: 6px;
}

.wrapper {
  height: 100%;
  position: relative;
  margin: 0 5px;
}
.track {
  height: 100%;
  width: 5px;
}

.thumb {
  width: 15px;
  position: absolute;
  left: -4px;
  height: 50px;
}

.scrollable {
  overflow-y: auto;
  width: 100%;
  z-index: 150;
}
</style>
