<template>
  <div :class="[$style.container]">
    <img
      :src="
        this.sideLeft ? getImgPath('buttonLeftP') : getImgPath('buttonRightP')
      "
      alt="sliderButton"
      :class="[$style.image]"
    />

    <div
      @click="$emit('handleSliderButtonClick')"
      :class="{
        [[$style.button__left_collapsed, $style.button__left].join(' ')]:
          this.sideLeft & !this.sliderOpen,
        [$style.button__left]: this.sideLeft & this.sliderOpen,
        [[$style.button__right_collapsed, $style.button__right].join(' ')]:
          this.sideRight & !this.sliderOpen,
        [$style.button__right]: this.sideRight & this.sliderOpen
      }"
    />
  </div>
</template>

<script>
export default {
  name: "SliderButton",
  props: {
    side: {
      type: String,
      required: true
    },
    sliderOpen: {
      type: Boolean,
      required: true
    },
    theme: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      sideLeft: this.side === "left" ? true : false,
      sideRight: this.side === "right" ? true : false
    };
  },
  methods: {
    getImgPath(image) {
      return require(`@/assets/${this.theme}/` + image + `.png`);
    }
  },
  watch: {
    theme: function() {
      let htmlElement = document.documentElement;
      if (this.theme === "light") {
        htmlElement.setAttribute("theme", "light");
      } else {
        htmlElement.setAttribute("theme", "dark");
      }
    }
  }
};
</script>

<style module lang="scss">
:root {
  --background-color: rgba(10, 29, 57, 0.4);
}

[theme="light"] {
  --background-color: rgba(150, 150, 150, 0.4);
}

[theme="dark"] {
  --background-color: rgba(10, 29, 57, 0.4);
}
.container {
  top: 0;
  height: 320px;
  width: 160px;
  position: relative;
  z-index: 1100;
}
.image {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}

.button__left {
  height: 100%;
  position: absolute;
  width: 100%;
  right: 0;
}

.button__left_collapsed {
  clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
  top: 45%;
  transform: translate(0, -50%);
  height: 45%;
  position: absolute;
  width: 11%;
  right: 0;
  animation: pulse 15s infinite;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    width: 20px;
    height: 100%;
    left: 60px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
    animation: shining 10s infinite;
    animation-delay: 10s;
  }
}

.button__right {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
}

.button__right_collapsed {
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
  top: 45%;
  transform: translate(0, -50%);
  height: 45%;
  position: absolute;
  width: 11%;
  left: 0;
  animation: pulse 15s infinite;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    width: 20px;
    height: 100%;
    left: 60px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
    animation: shining 10s infinite;
    animation-delay: 10s;
  }
}

@keyframes pulse {
  0% {
    background-color: transparent;
  }

  70% {
    background-color: var(--background-color);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes shining {
  0% {
    transform: translateX(-100px) skewX(-15deg);
    opacity: 0.2;
    transition: 0.3s;
  }
  10% {
    transform: translateX(-20px) skewX(-15deg);
    opacity: 0.5;
    transition: 0.3s;
  }
  100% {
    transform: translateX(-20px) skewX(-15deg);
    opacity: 0.5;
    transition: 0.3s;
  }
}
</style>
