.choice__button {
  border: none;
  background: none;
  width: 70vw;
  font-size: 12px;
  font-family: "Bahnschrift";
  color: rgb(143, 206, 255);
  margin: 5px;

  .choice__button__content {
    position: relative;
    z-index: 3;
    padding: 10px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .choice__button__image_icon {
      height: 35px;
      width: 15%;
      margin-right: 5px;
    }

    .choice__button__text {
      z-index: 10;
      line-height: 1.2;
      width: 85%;
    }

    .choice__button__image_bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      left: 0;
    }
  }
}