.slider__container {
  position: absolute;
  top: 175px;
  transition: transform 0.5s;
  z-index: 50;
  display: flex;


  .slider__box {
    width: 220px;
    height: 140px;
    background-color: #000327;
    border-bottom: 1px solid #01889e;
    border-top: 2px solid #00e9e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider__container__left {
  left: 0;
}

.slider__container__right {
  right: 0;
  flex-direction: row-reverse;
}