<template>
  <div :class="[$style.container]">
    <button :class="[$style.button]" :style="style">
      <div :class="[$style.button__content]" :style="buttonStyle">
        <img
          v-if="this.index"
          :class="[$style.button__icon]"
          :src="
            this.index === 1
              ? require(`@/assets/icon1P.png`)
              : this.index === 2
              ? require(`@/assets/icon2P.png`)
              : this.index === 3
              ? require(`@/assets/icon3P.png`)
              : null
          "
          alt="buttonIcon"
        />

        <p :class="[$style.button__text]">
          <slot />
        </p>
        <img
          :class="[$style.button__bg]"
          alt="buttonBg"
          :src="
            this.active
              ? getImgPath('choiceButtonActiveP')
              : getImgPath('choiceButtonNotActiveP')
          "
        />
      </div>
    </button>
  </div>
</template>

<script>
export default {
  name: "ChoiceButton",
  props: {
    active: {
      type: Boolean
    },
    index: {
      type: Number
    },
    theme: {
      type: String,
      required: true
    }
  },
  methods: {
    getImgPath(image) {
      return require(`@/assets/${this.theme}/` + image + `.png`);
    }
  },
  computed: {
    style() {
      return this.theme === "light"
        ? "color: rgb(13, 13, 13)"
        : "color: rgb(143, 206, 255)";
    },
    buttonStyle() {
      return this.index
        ? "justifyContent: space-between"
        : "justifyContent: center";
    }
  }
};
</script>

<style module lang="scss">
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  border: none;
  background: none;
  width: 100%;
  font-size: 12px;
  line-height: 1.2px;
  margin: 5px;
}

.button__content {
  position: relative;
  z-index: 3;
  padding: 10px;
  display: flex;
  align-items: center;
}

.button__icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.button__text {
  z-index: 10;
  line-height: 1.2;
  width: 85%;
}

.button__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}
</style>
