<template>
  <div :class="[$style.container]">
    <img
      alt="textBG"
      :src="getImgPath('txtBgP')"
      :class="[$style.background]"
    />
    <div :class="[$style.box]">
      <Scrollbar :theme="theme">
        <div :class="[$style.text]">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus.<br />
          <br />
          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
          imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
          mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
          semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
          porttitor eu, Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit. Aenean commodo ligula eget dolor. Aenean massa.
        </div>
      </Scrollbar>
    </div>
  </div>
</template>

<script>
import Scrollbar from "@/components/scrollbar/Scrollbar.vue";

export default {
  name: "TextArea",
  components: {
    Scrollbar
  },
  props: {
    theme: {
      type: String,
      required: true
    }
  },
  methods: {
    getImgPath(image) {
      return require(`@/assets/${this.theme}/` + image + `.png`);
    }
  }
};
</script>

<style module lang="scss">
.container {
  font-size: 12px;
  text-align: left;
  width: 85%;
  height: 40%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px 10px 20px 20px;
  margin-bottom: 15px;
}
.text {
  padding-left: 10px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 0;
}

.box {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  visibility: hidden;
}
</style>
