<template>
  <div :class="[$style.container]">
    <img
      :class="[$style.dotLines]"
      :src="getImgPath('lineDotsP')"
      alt="horizontalLine"
    />
    <div :class="[$style.buttons__container]">
      <Scrollbar :theme="theme">
        <div :class="[$style.buttons__wrapper]">
          <ChoiceButton
            :theme="theme"
            v-for="(button, index) in dataButtons"
            :key="button"
            :active="activeButton === index"
            :index="index + 1"
            @click.native="handleButtonClick(index)"
          >
            {{ button }}
          </ChoiceButton>
        </div>
      </Scrollbar>
    </div>

    <Button :theme="theme" @click.native="handleConfirmButtonClick">
      POTWIERDŹ
    </Button>
  </div>
</template>

<script>
import Button from "@/components/button/Button.vue";
import ChoiceButton from "@/components/choice-button/ChoiceButton.vue";
import Scrollbar from "@/components/scrollbar/Scrollbar.vue";

export default {
  name: "ChoiceArea",
  components: {
    ChoiceButton,
    Button,
    Scrollbar
  },
  props: {
    theme: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      activeButton: 0,
      dataButtons: [
        "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.",
        "Lorem ipsum dolor sit amet.",
        "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis partur"
      ]
    };
  },
  methods: {
    getImgPath(image) {
      return require(`@/assets/${this.theme}/` + image + `.png`);
    },
    handleButtonClick(button) {
      this.activeButton = button;
    },
    handleConfirmButtonClick() {
      alert(`Wybrana opcja to: ${this.dataButtons[this.activeButton]}`);
    }
  }
};
</script>

<style module lang="scss">
.container {
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  height: 40%;
  margin-top: 10px;
  min-height: 180px;
}
.buttons__container {
  height: 80%;
  width: 100%;
  padding: 3px;
}
.buttons__wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dotLines {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>
