<template>
  <div :class="[$style.container]">
    <button :class="[$style.button]" :style="style">
      <img
        :class="[$style.button__accept]"
        :src="getImgPath('acceptButtonP')"
        alt="button"
      />
      <span :class="[$style.button__text]"><slot /></span>
    </button>
  </div>
</template>

<script>
export default {
  name: "Button",
  props: {
    theme: {
      type: String,
      required: true
    }
  },
  methods: {
    getImgPath(image) {
      return require(`@/assets/${this.theme}/` + image + `.png`);
    }
  },
  computed: {
    style() {
      return this.theme === "light"
        ? "color: #d0d0d0"
        : "color: rgb(143, 206, 255)";
    }
  }
};
</script>

<style module lang="scss">
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 15px;
  height: 20%;
}

.button {
  border: none;
  background: none;
  width: 120px;
  height: 30px;
  position: relative;
  font-size: 12px;
  color: rgb(143, 206, 255);
}

.button__accept {
  width: 100%;
}

.button__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
