.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 15px;

  .button {
    border: none;
    background: none;
    width: 120px;
    height: 30px;
    position: relative;
    font-size: 12px;
    font-family: "Bahnschrift";
    color: rgb(143, 206, 255);

    img {
      width: 100%;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}