.headerTab__container {
  width: 85px;
  height: 25px;
  color: #8fceff;
  position: relative;
  margin: 0 3px;
  font-family: "Bahnschrift", "SemiLight Condensed";
  font-size: 10px;
  display: flex;
  justify-content: center;
  z-index: 30;

  .headerTab {
    position: absolute;
    clip-path: polygon(0 0, 0 80%, 5% 85%, 30% 85%, 35% 95%, 65% 95%, 70% 85%, 95% 85%, 100% 80%, 100% 0);
    top: 0;
    height: 100%;
    width: 100%;
    animation: pulse 6s infinite;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.4);
      width: 20px;
      height: 100%;
      left: 60px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-85px) skewX(-15deg);
      animation: shining 10s infinite;
      animation-delay: 10s;
    }
  }

  .headerTab__active,
  .headerTab__notActive {
    width: 100%;
    position: absolute;
  }

  .headerTab__notActive+p {
    opacity: 0.4;
  }

  p {
    margin-top: 5px;
  }
}

@keyframes pulse {
  0% {
    background-color: transparent;
  }

  70% {
    background-color: rgba(22, 82, 104, 0.4);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes shining {
  0% {
    transform: translateX(-85px) skewX(-15deg);
    opacity: 0.2;
    transition: 0.3s;
  }

  10% {
    transform: translateX(30px) skewX(-15deg);
    opacity: 0.5;
    transition: 0.3s;
  }

  100% {
    transform: translateX(30px) skewX(-15deg);
    opacity: 0.5;
    transition: 0.3s;
  }
}