<template>
  <div>
    <div
      :class="{
        [[$style.container, $style.container__left].join(' ')]: this.sideLeft,
        [[$style.container, $style.container__right].join(' ')]: this.sideRight
      }"
      tabindex="0"
      :style="style"
      v-click-outside="hide"
    >
      <div
        :class="{
          [[$style.box, $style.box__left].join(' ')]: this.sideLeft,
          [[$style.box, $style.box__right].join(' ')]: this.sideRight
        }"
      >
        <slot />
      </div>
      <SliderButton
        :side="this.side"
        :sliderOpen="this.sliderOpen"
        :theme="theme"
        @handleSliderButtonClick="
          sliderOpen === true ? (sliderOpen = false) : (sliderOpen = true)
        "
      />
    </div>
    <div :class="[$style.blur]" v-if="sliderOpen" />
  </div>
</template>

<script>
import SliderButton from "@/components/slider-button/SliderButton.vue";
import Vue from "vue";

Vue.directive("click-outside", {
  bind(el, binding, vnode) {
    let vm = vnode.context;
    let callback = binding.value;
    el.clickOutsideEvent = function(event) {
      if (!(el == event.target || el.contains(event.target))) {
        return callback.call(vm, event);
      }
    };
    document.body.addEventListener("click", el.clickOutsideEvent);
    document.body.addEventListener("touchstart", el.clickOutsideEvent);
  },
  unbind(el) {
    document.body.removeEventListener("click", el.clickOutsideEvent);
    document.body.removeEventListener("touchstart", el.clickOutsideEvent);
  }
});

export default {
  name: "Slider",
  components: {
    SliderButton
  },
  props: {
    side: {
      type: String,
      required: true
    },
    theme: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      sideLeft: this.side === "left" ? true : false,
      sideRight: this.side === "right" ? true : false,
      sliderOpen: false
    };
  },
  methods: {
    hide() {
      this.sliderOpen === true ? (this.sliderOpen = false) : null;
    }
  },
  computed: {
    style() {
      return this.sideLeft
        ? this.sliderOpen
          ? "transform: translate(0, 0)"
          : "transform: translate(-144px, 0)"
        : this.sliderOpen
        ? "transform: translate(0, 0)"
        : "transform: translate(144px, 0)";
    }
  }
};
</script>

<style module lang="scss">
.container {
  position: absolute;
  top: 70px;
  transition: transform 0.5s;
  z-index: 1000;
  display: flex;
}

.container__left {
  left: 0;
}

.container__right {
  right: 0;
  flex-direction: row-reverse;
}

.box {
  width: 80%;
  height: 80%;
  z-index: 1200;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
}

.box__left {
  left: 0;
}
.box__right {
  right: 0;
}

.blur {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
}
</style>
