* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}