.layout__container {
  width: 100vw;
  height: 100vh;
  background: url("../img/BG.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: rgb(143, 206, 255);

  .borderPortrait__container {
    position: absolute;
    width: 80px;
    left: 0;

    img {
      width: 100%;
    }
  }

  .borderRight__container {
    position: absolute;
    right: 0;
    height: 275px;

    img {
      height: 100%;
    }
  }
}