.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .header__buttons_container {
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
  }
}