.scrollbar__container {
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 6px;

  .scrollbar__wrapper {
    height: 100%;
    position: relative;
    margin: 0 5px;

    .scrollbar__track {
      height: 100%;
      width: 5px;
    }

    .scrollbar__button {
      width: 15px;
      position: absolute;
      left: -4px;
      height: 50px;
    }
  }

  .scrollable {
    overflow-y: auto;
    width: 100%;
  }
}
