.textArea__container {
  font-size: 12px;
  font-family: "Bahnschrift";
  color: rgb(143, 206, 255);
  line-height: 1.2;
  text-align: left;
  width: 85vw;
  max-height: 42vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  visibility: hidden;
}