.choice__area__container {
  position: relative;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  height: 35vh;
  padding-bottom: 10px;

  .choice__area__buttons__container {
    height: 75%;
    width: 85vw;
    margin-bottom: 10px;

    .choice__area__buttons__wrapper {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }


  .choice__area__vertical__left__line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
  }

  .choice__area__vertical__right__line {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 4px;
  }

  .choice__area__horizontal__line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
  }
}